<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="search-container">
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
    </div>
    <div class="content">
        <div class="waterfall">
            <div class="card">
                <div class="card-image">
                    <img src="https://via.placeholder.com/150" alt="Image">
                </div>
                <div class="card-content">
                    <h3 class="card-title">タイトル</h3>
                    <p class="card-text">ああああああああああああああああああああああああああああああああああああ</p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="https://via.placeholder.com/150" alt="Image">
                </div>
                <div class="card-content">
                    <h3 class="card-title">タイトル</h3>
                    <p class="card-text">文章</p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="https://via.placeholder.com/150" alt="Image">
                </div>
                <div class="card-content">
                    <h3 class="card-title">タイトル</h3>
                    <p class="card-text">文章</p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="https://via.placeholder.com/150" alt="Image">
                </div>
                <div class="card-content">
                    <h3 class="card-title">タイトル</h3>
                    <p class="card-text">文章</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <nav>
            <ul>
                <li><a href="#"><span class="fas fa-home"></span><br>HOME</a></li>
                <li><a href="#"><span class="fas fa-search"></span><br>検索</a></li>
                <li><a href="#"><span class="fas fa-plus">+</span><br></a></li>
                <li><a href="#"><span class="fas fa-heart"></span><br>気に入り</a></li>
                <li><a href="#"><span class="fas fa-user"></span><br>マイページ</a></li>
            </ul>
        </nav>
    </footer>


</body>

</html>